.messagesContainer {
  display: flex;
  height: 100%;
  align-items: stretch;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

.aside {
  flex-grow: 1;
  border-right: 1px solid #eee;
}

.aside__header {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.aside__title {
  font-weight: bold;
}

.aside__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.aside__btnImg {
  width: 20px;
  height: 20px;
}

.contacts {
  padding: 0;
  margin: 0;
}

.contact {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.contact:last-child {
  border-bottom: 0px solid #fff;
  padding: 15px 15px;
}

.contact__avatar {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.contact__name {
  font-weight: 500;
}

.chat {
  flex-grow: 3;
  position: relative;
}

.chat__header {
  border-bottom: 1px solid #eee;
  padding: 15px;
  display: flex;
  align-items: center;
}

.chat__headerText {
  display: flex;
  flex-direction: column;
}

.chatContact__avatar {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.chatContact__name {
  font-weight: 500;
  margin-bottom: 5px;
}

.chatContact__status {
  color: #686868;
  font-size: 14px;
}

.chat__area {
  min-height: 100%;
  margin-bottom: 90px;
}

.chat__message p {
  background-color: #efefef;
  color: #686868;
  width: auto;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 5px 10px;
}

.chat__field {
  width: 91%;
  background-color: #f3f5f7;
  padding: 25px 20px 15px 20px;
  border: 1px solid #eeeeee;
  position: absolute;
  bottom: 0;
}

.chat__input {
  width: 80%;
    background-color: #fff;
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    height: 45px;
}