.header {
  position: relative;
  background-color: #e44d3a;
}

.header__section {
  margin: 0 auto;
  min-width: 320px;
}

.header__container {
  padding: 15px 0 15px;
  display: flex;
  align-items: center;

  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header__logoWrap {
  line-height: 0;
  position: relative;
}

.header__login {
  margin-left: auto;
  align-items: center;
  display: flex;
}

.header__loginBtn {
  background: #fff;
  border: 2px solid #e44d3a;
  border-radius: 5px;
  color: #e44d3a;
  display: inline-block;
  font-size: 16px;
  outline: none;
  padding: 10px 25px;
  position: relative;
  transition: all .3s;
  vertical-align: middle;
}
