.navbar {
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  min-width: 215px;
  
}

.navbarUser {
  border-bottom: 1px solid #e5e5e5;
}

.navbarUser__dt {
  background-color: #e44d3a;
  padding-top: 40px;
}

.navbarUser__avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: -60px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.navbarUser__specs {
  padding: 45px 5px 30px 5px;
  display: flex;
  flex-direction: column;
}

.navbarUver__name {
  color: #000000;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 8px;
}

.navbarUser__desc {
  color: #686868;
  font-size: 12px;
  font-weight: 500;
}

.navbar__list {
  margin: 0 0;
  text-align: center;
  padding-left: 0;
}

.navbar__listItem {
  padding: 25px 35px;
  border-bottom: 1px solid #e5e5e5;
  color: #e44d3a;
  filter: grayscale(0);
}

.navbar__listItemLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .navbar__listItemLink:hover {
  color: #e44d3a;
} */

.navbar__listItemIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  filter: grayscale(100%);
}

/* .navbar__listItemIcon:hover {
  filter: grayscale(0);
} */

.navbar__listItemDesc {
  display: block;
  color: #686868;
  font-size: 20px;
}

.navbar__listItemDesc:hover {
  color: #e44d3a;
}

.navbarUser__btnWrapper {
  padding: 15px 0;
}

.navbarUser__btn {
  color: #e44d3a;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
